.about {

  &__store {
    width: 100%;
    min-height: 30rem;
    background: url('../img/about-us.jpg') center no-repeat;
    background-size: cover;

    @include respond(tab-port) {
      min-height: 40rem;
      margin-left: 5rem;
    }
  }
}
